:root {
  --umd-red: #e21833;
}

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a consistent font and background */
body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f9fafb; /* light background for main content */
  color: #111827; /* dark text */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Set full height to allow sticky nav behavior */
html, body, #root {
  height: 100%;
}


a {
  color: inherit;
  text-decoration: none;
}


html {
  scroll-behavior: smooth;
}


::selection {
  background-color: #bae6fd;
  color: #000;
}
