.overviewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 1.5em;

    &_overview {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0.5em 1.25em;

        font-size: medium;
        font-family: 'Courier New', Courier, monospace;
        color: gray;
        border: 1px solid gray;
        border-radius: 1em;
        width: 20em;

        .details {
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: black;
            font-size: large;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
        }
    }
}

.chart-icons {
    vertical-align: middle;
    font-size: 1em;
}

/*
This could be moved to a separate component or file
*/
.searchContainer {
    border: 1px solid gray;
    color: gray;
    border-radius: 1em;
    padding: 0.5em 0.5em;

    input {
        flex: 1;
        border: none;
        outline: none;
        font-family: inherit;
        background-color: inherit;
        color: inherit;
        font-size: medium;
        min-width: 0;
        padding-left: 0.5em;
    }
}

.dataCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

    &_dataCard {
        padding: 1em 1.25em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid gray;
        width: 15em;
        height: 10em;
        border-radius: 1em;
        font-family: 'Courier New', Courier, monospace;
    }
}